@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;

    --text-black-900: #302e4d;
    --text-black-700: #504e70;

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* Section */
.section {
    background-color: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 50px;
    margin: 0 auto;
    opacity: 1;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: "";
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: "";
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 110%;
    left: 0;
}

.hidden {
    display: none !important;
}

.main-content {
    padding-left: 270px;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    display: inline-block;
    white-space: nowrap;
    background-color: var(--skin-color);
    border: none;
    border-radius: 40px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Aside */
.aside-container {
    height: 100%;
    width: 270px;
    border-right: solid 1px var(--bg-black-50);
    background-color: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aside-container .logo {
    position: absolute;
    top: 40px;
}

.aside-container .logo a {
    text-transform: capitalize;
    color: var(--text-black-900);
    font-weight: 600;
    padding: 15px 35px;
    font-size: 20px;
    letter-spacing: 5px;
    position: relative;
}

.aside-container .logo a span {
    font-family: "Clicker Script", cursive;
    font-size: 40px;
}

.aside-container .logo a::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: solid 5px var(--skin-color);
    border-left: solid 5px var(--skin-color);
    bottom: 0px;
    left: 0px;
}

.aside-container .logo a::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: solid 5px var(--skin-color);
    border-right: solid 5px var(--skin-color);
    top: 0px;
    right: 0px;

}

.aside-container .nav-toggler {
    height: 40px;
    width: 45px;
    border: solid 1px var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background-color: var(--bg-black-100);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.aside-container .nav-toggler span {
    height: 2px;
    width: 18px;
    background-color: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside-container .nav-toggler span::before {
    content: "";
    height: 2px;
    width: 18px;
    background-color: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0px;
}

.aside-container .nav-toggler span::after {
    content: "";
    height: 2px;
    width: 18px;
    background-color: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0px;
}

.aside-container .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside-container .nav li a {
    font-size: 17px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 10px 15px;
}

.aside-container .nav li a.active {
    color: var(--skin-color);
}

.aside-container .nav li a i {
    margin-right: 15px;
}

/* Home */
.home {
    padding: 0px 50px;
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 30px;
    margin: 15px 0;
}

h3.hello span {
    margin-left: 15px;
    font-family: "Clicker Script", cursive;
    font-size: 40px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 17px;
    color: var(--text-black-700);
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 30%;
    margin-left: 5%;
    text-align: center;
    position: relative;
    background: url(../img/eu-1.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border: solid 4px var(--skin-color);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: profile__animate 8s ease-in-out infinite 1s;
}

/* About */
.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: solid 1px var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 8px;
    display: inline-block;
}

.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
    margin-top: 10px;
    margin-right: 15px;
}

.about .about-content .skills {
    margin-top: 40px;
    flex: 0 0 40%;
    max-width: 40%;
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
}

.about .about-content .skills .skill-item h5 {
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
    position: relative;
    background-color: var(--bg-black-50);
    width: 100%;
    height: 7px;
    border-radius: 4px;
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--skin-color);
}

.about .about-content .skills .skill-item .progress .skill-percent {
    position: absolute;
    top: -40px;
    right: 0;
    color: var(--text-black-900);
    font-weight: 400;
    line-height: 40px;
}

.about .about-content .education,
.about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

/* service */
.service .container {
    padding-bottom: 40px;
}

.service .service-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.service .service-item .service-item-inner {
    background-color: var(--bg-black-100);
    border: solid 1px var(--bg-black-50);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    transition: all 0.35 ease;
    cursor: pointer;
}

.service .service-item .service-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.service .service-item .service-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.service .service-item .service-item-inner .icon .fa {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover .icon {
    background-color: var(--skin-color);
}

.service .service-item .service-item-inner:hover .icon .fa {
    font-size: 25px;
    color: #fff;
}

.service .service-item .service-item-inner h4 {
    font-size: 18px;
    margin: 10px 0px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

/* portifolio */
.portifolio .container {
    padding-bottom: 40px;
}

.portifolio .portifolio-heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.portifolio .portifolio-heading h2 {
    color: var(--text-black-900);
    font-weight: 500;
}

.portifolio .portifolio-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.portifolio .portifolio-item .portifolio-item-inner {
    width: 100%;
    height: 100%;
    border: solid 6px var(--bg-black-100);
    border-radius: 10px;
    cursor: pointer;
}

.portifolio .portifolio-item .portifolio-item-inner .portifolio-img {
    width: 100%;
    height: 100%;
}

.portifolio .portifolio-item .portifolio-item-inner .portifolio-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

/* contact */
.contact .contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.contact .contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
}

.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 50px;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    color: var(--skin-color);
    font-size: 25px;
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 12px 0;
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--bg-black-100);
    border: solid 1px var(--bg-black-50);
    padding: 10px 25px;
    font-size: 14px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
    height: 140px;
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

@media (max-width: 1199px) {
    .aside-container {
        left: -270px;
    }

    .main-content {
        padding-left: 0px;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    .home .home-info,
    .about .about-content .personal-info,
    .about .about-content .skills {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }

    .service .service-item, .portifolio .portifolio-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .contact .contact-info-item {
        max-width: 33%;
        flex: 0 0 33%;
    }

    .contact #site-item {
        display: none;
    }
}

@media (max-width: 767px) {
    .about .about-content .personal-info .info-item{
        margin: 10px 0;
    }
    .about .about-content .personal-info .info-item,
    .service .service-item,
    .portifolio .portifolio-item,
    .contact .contact-info-item,
    .contact .contact-form .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about #hire-me{
        display: none;
    }

    .contact #office-item {
        display: none;
    }
}